<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.UserInfoMapper">


    <!--登录-->
    <select id="login" resultType="com.me.pojo.UserInfo" parameterType="com.me.vo.UserInfoVo">
        SELECT * FROM userinfo WHERE user_name = #{user_name} AND password = #{password}
    </select>


    <!--用户管理用户列表展示-->
    <select id="selectUserInfo" resultType="com.me.vo.UserInfoVo">
        SELECT tb1.user_id,tb1.user_name,tb1.name,tb1.value,v.vip_name,uv.end_time FROM(SELECT u.user_id,u.user_name,u.name,l.value FROM userinfo u ,`level` l WHERE l.user_id=u.user_id AND u.`status`=1)
        AS tb1
        LEFT JOIN user_vip uv ON uv.user_id=tb1.user_id
        LEFT JOIN vip v ON v.vip_id = uv.vip_id
        ORDER BY tb1.user_id ASC
    </select>

    <!--修改页根据user_id回显-->
    <select id="getUserInfoById" parameterType="int" resultType="com.me.pojo.UserInfo">
        SELECT *FROM userinfo WHERE user_id=#{user_id}
    </select>

    <!--修改页根据user_id修改用户-->
    <update id="updateUserInfoById" parameterType="com.me.pojo.UserInfo">
        update userinfo
        <set>
            <if test="user_name!=null and user_name!=''">
                user_name=#{user_name},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="email!=null and email!=''">
                email=#{email}
            </if>
        </set>
        where user_id=#{user_id}
    </update>

<!--    根据user_id删除用户-->
    <update id="deleteUserInfoById" parameterType="int">
        update userinfo set status=0 where user_id=#{user_id}
    </update>
</mapper>